.card{
    background-color: #EDEDD0;
    padding:1rem;
    border-radius: 10px;
    min-width: 15rem;
    color:#52006A;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.photo{
    border-radius: 50%;
}
.item{
  display:flex;
  align-items: center;
}
@media (min-width:500px){
    .card{
        min-width: 20rem;
    }
}